<h1>Privacy Policy</h1>

<h2>Account</h2>
<p>
  When you log in to wheelgpt.dev, some of your account information will be added to a local database. This information
  includes your Twitch Channel Name, your Twitch Channel Display Name and an URL to your Twitch Channel Profile Pitcure.
</p>

<p>
  Note that while we do use your authorized access token to verify it's your account, we don't actually store the access
  token. It is kept in memory for a very short period of time and then discarded.
</p>

<h2>Access log</h2>
<p>
  We store traffic logs which may contain your IP address and browser user agent, in order to see how the site is being
  used. These logs are regularly rotated out and are not permanent. In most cases, they are stored for a maximum of 24
  hours.
</p>

<h2>Questions</h2>
<p>If you have any questions related to our privacy policy, please send an email to markus.u.wieland&#64;gmail.com or
  ask
  &#64;sowiemarkus on Discord.</p>