<!-- app.component.html -->
<h1 class="header">Welcome to WheelGPT</h1>

<div class="content">
  @if(channelToken() !== null) {
  <div>
    <mat-card class="token-card">
      <mat-card-header>
        <mat-card-title>Access Token:</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Note: Your token will always be different when you visit this page. Previous token are still valid. So if you
          leaked your token (e.g. on stream) please click "renew Token".</p>

        <div class="action-buttons">
          <button mat-raised-button color="primary" (click)="copyToken()">Copy Token</button>
          <button mat-raised-button color="accent" (click)="renew()" [disabled]="loading()">Renew Token</button>
          <button mat-raised-button color="warn" (click)="remove()" [disabled]="loading()">Remove WheelGPT from
            Channel</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  }

  <mat-divider></mat-divider>

  <div class="next-steps">
    <h2>Next Steps</h2>
    <ul>
      <li>Download & install the WheelGPT plugin from OpenPlanet.</li>
      <li>Go to the settings and set your token!</li>
      <li>Drive a new best time!</li>
    </ul>
  </div>
</div>